<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sumeyyesahin.olumlamalar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:targetApi="33" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Olumlamalar"
        tools:targetApi="31">

        <activity
            android:name=".IntroUserNotificationSelectActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".BreathingIntroActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NefesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AddAffirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SplashScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".FavoriesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AffirmationMainPageActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".NotificationReceiver" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>



    </application>

</manifest>
