<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sumeyyesahin.olumlamalar">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Olumlamalar"
        tools:targetApi="31">

        <activity
            android:name=".view.IntroActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/IntroActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity
            android:name=".view.FirstDescriptionPage"
            android:exported="true"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".view.ShowAffirmationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.BreathingIntroActivity"
            android:exported="true"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IntroActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>

        <activity
            android:name=".view.BreathActivity"
            android:exported="true"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IntroActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity
            android:name=".view.AddAffirmationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.FavoritesActivity"
            android:exported="true"
            android:parentActivityName=".view.CategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IntroActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.CategoryActivity" />
        </activity>
        <activity
            android:name=".view.CategoryActivity"
            android:exported="true"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IntroActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity
            android:name=".view.AffirmationMainPageActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>